/*
* css file took from: http://bl.ocks.org/sjengle/e8c0d6abc0a8d52d4b11
*/

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  margin: 5px;
  padding: 0px;

  background-color: whitesmoke;
}

svg {
  /* bl.ocks.org defaults to 960px x 500px space */
  /* account for margin in final width/height */
  width: 950px;
  height: 490px;
}

/*
 * we will style both html elements and svg elements in css,
 * but how we style them is a little different. make sure you
 * understand the difference between an id and class in css too!
 */

 #bounds {
  fill: white;

  /* use stroke, not border, for svg elements */
  stroke: #bbbbbb;
  stroke-width: 1px;
}

rect.bar {
  stroke: none;
  fill: #E15258;
}

#x-axis text,
#y-axis text {
  font-size: 8pt;
}

/* path: axis line, line: tick marks */

#x-axis line {
  fill: none;
  stroke: lightgrey;
}

#x-axis path,
#y-axis path,
#y-axis line {
  fill: none;

  /* use stroke, not border, for svg elements */
  stroke: lightgrey;
  stroke-opacity: 0.4;
}

#y-axis line {
  stroke: none;
}

path[class="line"] {
  stroke: steelblue;
  stroke-width: 4;
  fill: none;
}

path[class="domain"] {
  stroke: none;
}

.tick text {
  fill: grey;
}

.axis path,
.axis line {
	fill: none;
	stroke: lightgrey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}
